@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">');

:root {
    --primary-color: #EAE6E5;
    --secondary-color: #2978A0;
    --accent1-color: #02C39A;
    --accent2-color: #12130F;
  
    --heading-font: 'Light 300', serif;
    --paragraph-font: 'Light 300', serif;
  
    --nav-background-color: #2978A0;
    --nav-link-color: #02C39A;
    --nav-hover-link-color: #EAE6E5;
    --nav-hover-background-color: #12130F;
  }

  body {
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(Light 300);
    color: var(#EAE6E5);
  }

  header {
    padding: 20px;
    background-color: var(#02C39A);
  }

  p {
    padding: 25px;
  }

  nav {
  background-color: var(-#2978A0);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(#02C39A);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(#02C39A);
}

nav a:hover {
  color: var(#EAE6E5);
  background-color: var(#12130F);
}